:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("../images/pattern-background-desktop.svg");
    background-color: var(--pale-blue);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-summary {
    max-width: 45rem;
    height: 69.7rem;
    margin-top: 0.1rem;
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 3.9rem 3.5rem -1.6rem hsl(245, 70%, 87.5%);
    transition: max-width .08s ease-in-out;
}

.order-summary__image {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 2rem 2rem 0 0;
}

.order-summary__header {
    width: 75%;
    margin: auto;
}

.order-summary__title {
    font-size: 2.8rem;
    font-weight: 900;
    color: var(--dark-blue);
    margin-top: 4.5rem;
}

.order-summary__description {
    font-size: 1.6rem;
    color: var(--desaturated-blue);
    line-height: 2.56rem;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
}

.order-summary__plan {
    width: 78.5%;
    height: 9.92rem;
    margin: 0 auto;
    background-color: var(--very-pale-blue);
    border-radius: 1.28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.order-summary__annual-plan {
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.order-summary__annual-plan img {
    margin-left: 2.4rem;
    margin-right: 1.95rem;
}

.order-summary__annual-plan div p:nth-child(1) {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--dark-blue);
    margin-bottom: .5rem;
}

.order-summary__annual-plan div p:nth-child(2) {
    color: var(--desaturated-blue);
    font-size: 1.65rem;
}

.order-summary__change {
    margin-right: 2.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--bright-blue);
    text-decoration: underline;
    cursor: pointer;
    transition: .075s ease-in-out;
}

.order-summary__change:hover {
    color: hsla(245, 75%, 52%, .7);
    text-decoration: none;
}

.order-summary__proceed {
    all: unset;
    width: 78.5%;
    padding: 1.45rem 0;
    margin: 3.1rem 0 3.2rem;
    border: none;
    background-color: var(--bright-blue);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.025rem;
    border-radius: 1.1rem;
    box-shadow: 0 2.2rem 1.7rem 0 hsl(246, 76%, 92%);
    cursor: pointer;
    transition: .15s ease-in-out;
}

.order-summary__proceed:hover {
    background-color: hsla(245, 75%, 52%, .7);
}

.order-summary__cancel {
    all: unset;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    color: var(--desaturated-blue);
    transition: .1s ease-in-out;
}

.order-summary__cancel:hover {
    color: black;
}

@media (max-width: 480px) {
    .order-summary {
        max-width: 32.7rem;
        height: 56.7rem;
    }

    .order-summary__header {
        width: 80%;
    }

    .order-summary__title {
        font-size: 2.2rem;
        margin-top: 3.2rem;
        margin-bottom: 1.7rem;
    }

    .order-summary__description {
        height: 7.5rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 0 .5rem 2.4rem;
    }

    .order-summary__plan {
        width: 85.3%;
        height: 8rem;
    }

    .order-summary__annual-plan img {
        margin-left: 1.6rem;
        margin-right: 2rem;
    }

    .order-summary__annual-plan div p:nth-child(1) {
        font-size: 1.4rem;
        margin-bottom: .4rem;
    }

    .order-summary__annual-plan div p:nth-child(2) {
        font-size: 1.4rem;
        letter-spacing: 0.02rem;
    }

    .order-summary__change {
        font-size: 1.3rem;
        margin-left: .5rem;
        margin-right: 1.6rem;
    }

    .order-summary__proceed {
        width: 85.3%;
        margin: 2.4rem auto;
    }

    .order-summary__cancel {
        padding-bottom: 3.2rem;
    }
}

.attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.35rem;
    color: hsl(224, 23%, 72%);
    text-align: center;
    margin-bottom: .8rem;
}

.attribution a {
    color: hsl(245, 52%, 72%);
    transition: .12s;
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(245, 75%, 52%);
}
